body {
  font-family: "Unbounded", sans-serif;
  background-color: #f8f8f8;
  color: black;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  margin-top: 78px;
  padding: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myButton {
  font-family: "Unbounded", sans-serif;
  background-color: #dbdbdb;
  border: none;
  border-radius: 34px;
  pointer-events: all;
  cursor: pointer;
  padding: 10px 20px;
}

.myButton:hover {
  background-color: #c9c9c9;
  border: 2px solid #555555;
  transition: 0.3s ease-in-out;
}
